In [1]:
import pandas as pd
import os

In [3]:
ecom_df = pd.read_csv("Resources/ecom-user-churn-data.csv")
ecom_df.head()

,visitorid,ses_rec,ses_rec_avg,ses_rec_sd,ses_rec_cv,user_rec,ses_n,ses_n_r,int_n,int_n_r,...,int_cat16_n,int_cat17_n,int_cat18_n,int_cat19_n,int_cat20_n,int_cat21_n,int_cat22_n,int_cat23_n,int_cat24_n,target_class
0,89,23.0,16.0,0.0,0.0,39.0,2.0,0.051282,3.0,1.500000,...,0,0,0,0,3,0,0,0,0,1
1,251,23.0,61.0,0.0,0.0,85.0,2.0,0.023529,2.0,1.000000,...,0,0,0,0,0,0,1,0,0,1
2,270,14.0,0.1,0.3,3.0,21.0,11.0,0.523810,13.0,1.181818,...,0,0,0,0,0,0,13,0,0,1
3,298,11.0,13.0,0.0,0.0,24.0,2.0,0.083333,4.0,2.000000,...,0,0,0,3,1,0,0,0,0,1
4,474,16.0,26.0,0.0,0.0,43.0,2.0,0.046512,2.0,1.000000,...,2,0,0,0,0,0,0,0,0,1

In [5]:
len(ecom_df.columns)

49

In [7]:
# Renaming columns
ecom_df = ecom_df.rename(columns={"ses_rec": "Session_Interval",
                       "ses_rec_avg": "Session_Avg_Interval",
                       "ses_rec_sd": "Session_Int_Std_Deviation",
                        "ses_rec_cv": "Session_Ratio",
                        "user_rec": "User_Session_Interval",
                        "ses_n": "Session_Count",
                        "ses_n_r": "Session_Ratio_Frequency",
                        "int_n": "User_App_Interaction",
                        "int_n_r": "User_App_Session_Frequency",
                        "tran_n": "Transaction_Count",
                        "tran_n_r": "Transaction_Session_Frequency",
                        "rev_sum": "Total_Revenue",
                        "rev_sum_r": "Total_Revenue_Session_Freq",
                        "major_spend_r": "Major_Spend",
                        "int_cat_n_avg": "Avg_Categories_Interacted",
                        "int_itm_n_avg": "Avg_Distinct_Items",
                        "ses_mo_avg": "Avg_Month",
                        "ses_mo_sd": "Std_Deviation_Months",
                        "ses_ho_avg": "avg_hour_daily",
                        "ses_ho_sd": "std_deviation_hours",
                        "ses_wknd_r": "weekend_sessions",
                        "ses_len_avg": "Avg_Session_Duration",
                        "time_to_int": "Avg_Time_Between_Interaction",
                        "time_to_tran": "Avg_Time_transactional_Events"
                       })

ecom_df.head()

,visitorid,Session_Interval,Session_Avg_Interval,Session_Int_Std_Deviation,Session_Ratio,User_Session_Interval,Session_Count,Session_Ratio_Frequency,User_App_Interaction,User_App_Session_Frequency,...,int_cat16_n,int_cat17_n,int_cat18_n,int_cat19_n,int_cat20_n,int_cat21_n,int_cat22_n,int_cat23_n,int_cat24_n,target_class
0,89,23.0,16.0,0.0,0.0,39.0,2.0,0.051282,3.0,1.500000,...,0,0,0,0,3,0,0,0,0,1
1,251,23.0,61.0,0.0,0.0,85.0,2.0,0.023529,2.0,1.000000,...,0,0,0,0,0,0,1,0,0,1
2,270,14.0,0.1,0.3,3.0,21.0,11.0,0.523810,13.0,1.181818,...,0,0,0,0,0,0,13,0,0,1
3,298,11.0,13.0,0.0,0.0,24.0,2.0,0.083333,4.0,2.000000,...,0,0,0,3,1,0,0,0,0,1
4,474,16.0,26.0,0.0,0.0,43.0,2.0,0.046512,2.0,1.000000,...,2,0,0,0,0,0,0,0,0,1

In [8]:
ecom_df.to_csv("Resources/ecom_user_clean_churn_data.csv")